body{
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beach-quotes-1559667853.jpg);
  background-repeat: repeat;
}

div{
  background-color: blue;
  border-color: orange;
  border-width: 5px;
  border-style: double;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
